{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid

  The class is shop-page due to the background image, can be duplicated for a new class contact-page
{% endcomment %}
<div class="shop-page">
  {% section 'blog-template' %}
</div>
