<div ><h1 style="text-align:center;font-size: 1.3125em;text-transform: uppercase; letter-spacing: 0.1em;">Would you like to add anything </br> to your box?</h1></div>
<div style="height:45px;">
  <a style="position: absolute; right: 0px; margin-right:50px;" href="https://aurabox.co/checkout" class="btn btn--secondary" style="background-color:white;">No, thanks</a>
</div>
{% section 'custom-collections-shop1' %}
