<!-- THIS IS THE CONTENT OF THE ALL BOXES PAGE -->
<div class="all-boxes-page">
  <h1 style="text-align:center;">All Our Boxes</h1>
  {% section 'custom-collections1' %}
  {% section 'custom-collections2' %}
  {% section 'custom-collections3' %}
  {% section 'custom-collections4' %}
</div>  
