<div class="shop-page">
  <h1 style="text-align:center;">Shop</h1>
  <div style="text-align:center; font-size:130%;">Find any products for your female self here!
    Add them to your personal box or shop separately!</div>
  {% section 'custom-collections-prod1' %}
  {% section 'custom-collections-prod2' %}
  {% section 'custom-collections-prod3' %}
  {% section 'custom-collections-prod4' %}
  {% section 'custom-collections-prod5' %}
  {% section 'custom-collections-prod6' %}
  {% section 'custom-collections-prod7' %}
</div>
