<div class="design-box-page">
  <script src="https://app.brandquiz.io/embed"></script>
  <div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <!-- <div class="section-header text-center">
          <h1>Design your own Aura Box</h1>
        </div> -->

        <div class="rte" style="text-align:center;">
          <!-- {{ page.content }} -->
          <div id="brandquiz-eng" class="brandquiz_embed" data-embed="segureo/AuraBox" data-min-height="1000" data-width="1000" style="margin-top:-200px;"></div>
          <div id="brandquiz-esp" class="brandquiz_embed" data-embed="segureo/aurabox-esp" data-min-height="1000" data-width="1000" style="margin-top:-200px;"></div>
          <div style="margin-top: -100px; position: absolute; left: 50%; z-index:10; text-align:center; float: center;">
            <div style="position: relative; left: -50%;">
            <h5>Or you can always see all our boxes available!</h5>
            <a href="https://aurabox.co/pages/all-boxes" class="btn" style="">See All Boxes</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
