<h1 style="text-align:center;">Know Your Products</h1>
  <!-- SECTION CUSTOM CONTENT 2 WAS HERE BEFORE FOR THE BRANDS -->
<p style="text-align:center; margin:50px; font-size: 100%;">We want you to be able to choose the perfect products for you and your periods and for that you have to know what you are choosing! </br>
  Here you will find expert information about all out pad and tampon brands!</p>
<div class="know-products-page">
  {% section 'custom-feature-row1' %}
  {% section 'custom-feature-row2' %}
  {% section 'custom-feature-row3' %}
  {% section 'custom-feature-row4' %}
  {% section 'custom-feature-row5' %}
  {% section 'custom-feature-row6' %}
  {% section 'custom-feature-row7' %}
</div>
